.section-broken-sidebar {
  display: flex;

  header,
  article,
  section,
  .module {
    padding: 1rem;
  }

  header {
    background: lightblue;
  }

  section {
    background: lightgreen;
    width: 75%;
    float: left;

    article {
      background: white;
      margin: 0 0 1rem 0;
    }
  }

  aside {
    background: pink;
    width: 22.1%;
    float: right;
  }
}
